header {
  border:black solid 1px;
  height: 50px;
}
#container {
  /* background-color: antiquewhite; */
  min-height: 500px;
}
.red {
  color: red;
}
.black {
  color: black;
}
.yellow {
  color: yellow
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 0;
}
span {
  z-index: 1;
}
#toolbar {
  padding: 3px 1px 3px 1px;
  position: sticky;
  top: 0px;
  background-color:antiquewhite;
  /* left: 98%; */
  /* left: 100%; */
  /* right: 0px; */
}

#toolbar-1 {
  padding: 3px 1px 3px 1px;
  position: sticky;
  top: 100px;
  background-color:antiquewhite;
  /* left: 98%; */
  /* left: 100%; */
  /* right: 0px; */
}

.icon {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
  border: black solid 2px;
  font-size: 12pt;
}

.tool {
  margin-left: 2px;
  margin-right: 2px;
}