{{ define "main" }}
<header>
  <div>
    {{- $image := resources.Get "images/banner.png" -}}
    {{ $image = $image.Resize "600x" }}
    <img width="600px" alt="banner" src={{ $image.RelPermalink }}>
  </div>
</header>
<main>
  <ul>
    {{ $titleLanguage := "" }}
    {{ range .Site.RegularPages }}
    {{ with .Param "TitleLanguage" }}
    {{ $titleLanguage = . }}
    {{ else }}
    {{ $titleLanguage = "zh-Hans" }}
    {{ end }}
    <li><a lang="{{ $titleLanguage }}" href="{{ .RelPermalink }}">{{ .Title
        }}</a></li>
    {{ end }}
  </ul>
</main>
{{ end }}