{{ define "main" }}
<header>
  <div>
    {{- $image := resources.Get "images/banner.png" -}}
    {{ $image = $image.Resize "600x" }}
    <img width="600px" alt="banner" src={{ $image.RelPermalink }}>
  </div>
</header>
<main>
  <article>
    <h2 lang="en">About</h1>
    <p lang="zh-Hans">汇集各种杂货的个人网站，暂时还没有什么有营养的内容，以后也不知道会不会有。</p>
    <p lang="zh-Hans">本网站每一行 <abbr lang="en">HTML</abbr> 都是手写的。出于“大道至简”的原则，会尽可能限制 <abbr lang="en">CSS</abbr> 的使用。</p>
    <p lang="zh-Hans">标题的意思是“百合花园”，但目前并没有百合内容（（</p>
    <details>
    <summary lang="zh-Hans">以下标签仅供参考</summary>
    <table class="table-no-decoration"><tbody><tr>
    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 777 480" width="78px" height="48px">
      <rect fill="#750787" width="777" height="480"/>
      <rect fill="#004dff" width="777" height="400"/>
      <rect fill="#008026" width="777" height="320"/>
      <rect fill="#ffed00" width="777" height="240"/>
      <rect fill="#ff8c00" width="777" height="160"/>
      <rect fill="#e40303" width="777" height="80"/>
    </svg></td>
    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 480" width="80px" height="48px">
      <path fill="#5BCEFA" d="M0 0h800v480H0z"/>
      <path fill="#F5A9B8" d="M0 96h800v288H0z"/>
      <path fill="#FFF" d="M0 192h800v96H0z"/>
    </svg></td>
    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 200" width="72px" height="48px">
      <path fill="#2C2C2C" d="m0,0h300v200H0"/>
      <path fill="#9C59D1" d="m0,0h300v150H0"/>
      <path fill="#FCFCFC" d="m0,0h300v100H0"/>
      <path fill="#FCF434" d="m0,0h300v50H0"/>
    </svg>
    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 480" width="80px" height="48px">
      <path fill="#fff" d="M0 0h800v480H0z"/>
      <path d="M0 0h800v120H0z"/>
      <path fill="purple" d="M0 360h800v120H0z"/>
      <path fill="#a3a3a3" d="M0 120h800v120H0z"/>
    </svg></td>
    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 300" width="72px" height="48px">
      <rect width="450" height="300"/>
      <polygon points="0,300 450,0 0,0" fill="#f00"/>
    </svg></td>
    </tr>
    <tr><td lang="en" class="text-center">LGBTQIA+</td><td lang="en" class="text-center">Transgender</td><td lang="en" class="text-center">Non-binary</td><td lang="en" class="text-center">Asexuality</td><td lang="en" class="text-center">Libertarian socialism</td></tr>
    </tbody></table>
    </details>
    
  </article>
  <nav>
    <h2 lang="en">Posts</h1>
    <ul>
      {{ range .Site.RegularPages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle | safeHTML }}</a></li>
      {{ end }}
    </ul>
  </nav>
  <article>
    <h2 lang="en">Contact</h1>
    <p>
      <!-- <a href="https://github.com/lyhng-rika" target="_blank"><i class="fab fa-github fa-lg"></i></a> -->
      <a href="https://t.me/lyhng" target="_blank"><i class="fab fa-telegram fa-lg"></i></a>
      <a href="https://twitter.com/lyhng_rika" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="mailto:rika@vuonhoaly.com" target="_blank"><i class="fas fa-envelope-open fa-lg"></i></a>
    </p>
  </article>
</main>
{{ end }}