{{ define "main" }}
<header>
  <div>
    {{- $image := resources.Get "images/banner.png" -}}
    {{ $image = $image.Resize "600x" }}
    <img width="600px" alt="banner" src={{ $image.RelPermalink }}>
  </div>
</header>
<main>
  <article>
    <h2 lang="en">About</h1>
    <p lang="zh-Hans">汇集各种杂货的个人网站，暂时还没有什么有营养的内容，以后也不知道会不会有。</p>
    <p lang="zh-Hans">名义上是学<a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank" lang="zh-Hans">计算机</a>的，实际上 98.5% 甚至 99% 的时间都在搞<a href="https://en.wikipedia.org/wiki/Linguistics" target="_blank" lang="zh-Hans">语言学</a>。</p>
    <p lang="zh-Hans">坚持“大道至简”原则，手写每一行 <abbr lang="en">HTML</abbr> 和 <abbr lang="en">CSS</abbr> 。拒绝使用 <span lang="en">Markdown</span> 。</p>
    <p lang="zh-Hans">我就是不用第三方 <span lang="en">theme</span> ，就是不用任何前端框架，你来打我呀。</p>
    <p lang="zh-Hans">标题的意思是“百合花园”，但目前并没有百合内容（）</p>
    <details>
    <summary lang="zh-Hans">以下标签仅供参考</summary>
    <table class="table-no-decoration"><tbody><tr>
    <td class="text-align-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 777 480" width="78px" height="48px">
      <rect fill="#750787" width="777" height="480"/>
      <rect fill="#004dff" width="777" height="400"/>
      <rect fill="#008026" width="777" height="320"/>
      <rect fill="#ffed00" width="777" height="240"/>
      <rect fill="#ff8c00" width="777" height="160"/>
      <rect fill="#e40303" width="777" height="80"/>
    </svg></td>
    <td class="text-align-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 480" width="80px" height="48px">
      <path fill="#5BCEFA" d="M0 0h800v480H0z"/>
      <path fill="#F5A9B8" d="M0 96h800v288H0z"/>
      <path fill="#FFF" d="M0 192h800v96H0z"/>
    </svg></td>
    <td class="text-align-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 200" width="72px" height="48px">
      <path fill="#2C2C2C" d="m0,0h300v200H0"/>
      <path fill="#9C59D1" d="m0,0h300v150H0"/>
      <path fill="#FCFCFC" d="m0,0h300v100H0"/>
      <path fill="#FCF434" d="m0,0h300v50H0"/>
    </svg>
    <td class="text-align-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 480" width="80px" height="48px">
      <path fill="#fff" d="M0 0h800v480H0z"/>
      <path d="M0 0h800v120H0z"/>
      <path fill="purple" d="M0 360h800v120H0z"/>
      <path fill="#a3a3a3" d="M0 120h800v120H0z"/>
    </svg></td>
    <td class="text-align-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 300" width="72px" height="48px">
      <rect width="450" height="300"/>
      <polygon points="0,300 450,0 0,0" fill="#f00"/>
    </svg></td>
    <td class="text-align-center"><svg width="30" height="48" viewBox="1 1 648 1048" xmlns="http://www.w3.org/2000/svg">
      <title>Woman-power symbol (clenched fist in Venus sign)</title>
      <g transform="translate(0,1025)scale(1,-1)" fill="none" stroke="rgb(204,51,102)">
      <circle stroke-width="90" cx="325" cy="700" r="255"/>
      <path stroke-width="100" d="M325,0V445M95,230H555"/>
      <path fill="rgb(204,51,102)" stroke="none" d="M375,445v90c70,31,118,83,118,133
      c0,24-18,46-48,46c-25,0-40-7-65-7c-50,0-42,24-53,24c-11,0-22-13-22-33
      c0-30,25-45,50-45c15,0,20,6,29,6c6,0,9-1,9-4c0-5-11-14-25-14c-50,0-56,34-118,34
      c-38,0-62-24-62-63c0-49,32-70,87-77v-90Z
      M469,792c0,20-24,52-39,52c-15,0-25-84-25-94c0-15,15-33,30-33c11,0,34,55,34,75Z
      M404,836c0,25-39,37-53,37c-19,0-25-50-25-100c0-20,9-46,34-46c25,0,44,56,44,109Z
      M320,841c0,14-6,27-17,27c-20,0-58-25-58-50c0-50,10-100,35-100c27,0,40,95,40,123Z
      M241,718c0,45-6,98-21,98c-20,0-45-16-45-38c0-42,20-95,50-95c11,0,16,8,16,35Z"/></g></svg></td>
    </tr>
    <tr><td lang="en" class="text-align-center">LGBTQIA+</td><td lang="en" class="text-align-center">Transgender</td><td lang="en" class="text-align-center">Non-binary</td><td lang="en" class="text-align-center">Asexuality</td><td lang="en" class="text-align-center">Libertarian socialism</td><td lang="en" class="text-align-center">Feminism</td></tr>
    </tbody></table>
    </details>
  </article>

  <nav>
    <h2 lang="en">Posts</h1>
    <ul>
      {{ range .Site.RegularPages }}
      {{ if .Param "titleLanguage" }}
      <li><a href="{{ .RelPermalink }}" lang={{ .Param "titleLanguage" }}>{{ .LinkTitle | safeHTML }}</a></li>
      {{ else }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle | safeHTML }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>

  
  <nav>
    <h2 lang="en">Apps</h1>
    <ul>
      <li><a href="/whiteboard/" lang="en">Whiteboard</a></li>
      <li><a href="/sentence/" lang="en">Learn Languages through Sentences</a></li>
      <li><a href="/vordle/" lang="en">Vordle</a></li>
      <li><a href="/wordle-answer.html" target="_blank" rel="noopener noreferrer" lang="en">Wordle's answer</a></li>
    </ul>
  </nav>

  

  <h2 lang="en">Friends</h2>
  <ul>
    <li><a lang="zh-Hans" href="https://imbushuo.net/blog" target="_blank">饼干的 <span lang="en">Blog</span></a></li>
    <li><a lang="en" href="https://blog.jling.dev/" target="_blank">J. Ling's Blog</a></li>
    <li><a lang="zh-Hans" href="https://blog.icecode.xyz/" target="_blank">冰码妞的小小窝</a></li>
    <li><a lang="zh-Hans" href="https://observatoryx.github.io/" target="_blank"><span lang="en">ObservatoryX</span> 天文觀測站</a></li>
  </ul>

  <article>
    <h2 lang="en">Contact</h1>
    <p>
      <!-- <a href="https://github.com/lyhng-rika" target="_blank"><i class="fab fa-github fa-lg"></i></a> -->
      <a href="https://t.me/lyhng" target="_blank"><i class="fab fa-telegram fa-lg"></i></a>
      <a href="https://twitter.com/lyhng_rika" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="mailto:rika@vuonhoaly.com" target="_blank"><i class="fas fa-envelope-open fa-lg"></i></a>
    </p>
  </article>
</main>
{{ end }}