.slogan {
    text-align: center;
    font-weight: bolder;
}

.slogan-red {
    background-color: crimson;
    color: white;
}

.slogan-blue {
    background-color: royalblue;
    color: white;
}

#slogan-my-body-my-choice {
    font-size: 32pt;
}

#slogan-abortion-is-a-human-right {
    font-size: 30pt;
    padding: 5px 0px 5px 0px;
}

#ul-profile {
    li:not(:last-child) {
        margin-bottom: 5px;
    }
    
    li#li-pronoun {
        background-color: lightpink;
    }
}

ul.v-space-5 li:not(:last-child), ol.v-space-5 li:not(:last-child){
    margin-bottom: 5px;
}

#ul-contact {
    list-style-type: none;
    padding-left: 10px;
}

#ul-posts {
    padding-left: 20px;
    li:not(:last-child) {
        margin-bottom: 5px;
    }
}