$serif-font-family: '游明朝','Times New Roman', Times, serif;
$sans-serif-font-family: '游ゴシック','メイリオ','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
body {
  font-size: 120%;
  font-family:$serif-font-family;
  background-color: white;
  color: black;
  width: 600px;
  margin: auto;
  header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px 0px 0px;
    nav {
      a {
        text-decoration-line: none;
      }
    }
  }
  main {
    padding: 0px 5px 0px 5px;
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th,td {
      padding: 5px 10px 5px 10px;
      vertical-align: auto;
    }
    th {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  footer {
    text-align: center;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  p {
    dfn {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-style: normal;
    }
  }
}

i.fab, a i.fas {
  color: black;
}

