body {
  background-color: white;
  color: black;
  width: 600px;
  margin: auto;
  header {
    padding: 10px 0px 0px 0px;
    nav {
      a {
        text-decoration-line: none;
      }
    }
  }
  main {
    padding: 0px 5px 0px 5px;
    table, th, td {
      border: 1px solid black;
    }    
  }
  footer {
    text-align: center;
  }
}

i.fab, a i.fas {
  color: black;
}