<!DOCTYPE html>
<html lang={{ .Language.Lang }}>
    {{- partial "head.html" . -}}
    <body>
        {{ if ne .Kind "home" }}
        {{- partial "header.html" . -}}
        {{ end }}
        
        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
        
        

        {{ with .Resources.Match "**.js" }}
        {{ range . }}
        {{ $script := . | fingerprint }}
        <script src="{{ $script.Permalink }}"></script>
        {{ end }}
        {{ end }}

        {{ if isset .Params "languages" }}
        {{ $i18n := resources.Get "js/i18n.js" | fingerprint }}
        <script src="{{ $i18n.Permalink }}"></script>
        {{ end }}
        
    </body>
</html>
