<head>
    <meta charset="UTF-8">
    {{ if ne .Kind "home" }}
    <title>{{ .Title }} - Vườn Hoa Ly</title>
    {{ else }}
    <title lang="vi">Vườn Hoa Ly</title>
    {{ end }}

    {{ $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ if eq .Kind "home" }}
    {{ $style := resources.Get "css/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ end }}
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.min.css">
    {{ with .Resources.Match "**.*css" }}
    {{ range . }}
    {{ $style := . | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}
    {{ end }}

    {{- with .Params.mathJax -}}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{- end -}}
</head>